<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
>
    <php>
        <env name="ADAPTER" value="CurlAdapter"/>
        <env name="APITOKEN" value="EXAMPLE"/>
        <env name="ENDPOINT" value="http://localhost:8000/index.php/"/>
    </php>

    <testsuites>
        <testsuite name="Vultr API Client">
            <directory>./tests/Vultr</directory>
        </testsuite>
    </testsuites>

</phpunit>
